<!-- Header base para Meridiano Blog. Personaliza imagen/título en cada página principal -->
<script src="js/gtag.js"></script>
<header class="masthead">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <!-- Aquí va el título y subtítulo de cada página -->
                </div>
            </div>
        </div>
    </div>
</header>
